#enTeteJs {
    display: flex;
    justify-content: space-evenly;
}

#enTete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* padding-bottom: 100px; */
}

#enTete>h2 {
    font-size: medium;
    font-weight: 400;
}

#cadre {
    padding: 100px;
}

#cadre>ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#cadre>ul>li {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid black;
    padding: 5px;
    background-color: #084c61;
    color: white;
}

h1 {
    font-family: 'Silkscreen', sans-serif;
    text-transform: uppercase;
    padding-bottom: 50px;
}

body {
    font-family: 'Rubik', sans-serif;
}