#enTeteJs {
    display: flex;
    justify-content: space-evenly;
}

#enTete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* padding-bottom: 100px; */
}

#enTete>h2 {
    font-size: medium;
    font-weight: 400;
}

#cadre {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cadre>ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

#cadre>ul>li {
    display: inline-block;
    margin-right: 5px;
    border: 1px solid black;
    padding: 15px 20px;
    font-size: 16px;
    background-color: #084c61;
    color: white;
}


h1 {
    font-family: 'Silkscreen', sans-serif;
    text-transform: uppercase;
    padding-bottom: 50px;
}

body {
    font-family: 'Rubik', sans-serif;
}

#loadingGif {
    width: 40%;
    display: block;
    margin: 0 auto;
}


#reloadButton {
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    background-image: linear-gradient(to right, transparent 50%, #084c61 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 0.5s;
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
}

#reloadButton:hover {
    background-position: left bottom;
    color: #084c61;
    font-weight: bold;
}